Q1. What are data structures, and why are they important?

Ans. Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently. They are important because they improve performance, make code cleaner, and help solve problems effectively.

Q2 . Explain the difference between mutable and immutable data types with examples?

Ans. Mutable: Can be changed after creation. Example: list = [1, 2, 3] → you can add/remove elements.

Immutable: Cannot be changed after creation. Example: tuple = (1, 2, 3) → elements cannot be modified.

Q3. What are the main differences between lists and tuples in Python ?

Ans. Lists: Mutable, slower, use [], more flexible.

     Tuples: Immutable, faster, use (), ensure data integrity.

Q4. Describe how dictionaries store data?

Ans. Dictionaries store data in key-value pairs using a hash table. Keys are unique and act as identifiers, while values store the associated data.

Q5. Why might you use a set instead of a list in Python?

Ans. Sets automatically remove duplicates.

Sets allow faster membership testing (in).

Useful when uniqueness of elements matters.

Q6. What is a string in Python, and how is it different from a list?

Ans. A string is a sequence of characters enclosed in quotes ("hello"). Unlike lists, strings are immutable, meaning their contents cannot be modified directly.

Q7. How do tuples ensure data integrity in Python?

Ans. Since tuples are immutable, their data cannot be accidentally modified, ensuring safety and reliability when storing constant data.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table stores data using hash functions that map keys to memory locations. Python dictionaries use hash tables internally for fast key-based lookups.

Q9. Can lists contain different data types in Python?

Ans. Yes. A list can hold integers, strings, floats, and even other lists together, e.g., [1, "apple", 3.5, [10, 20]].

Q10. Explain why strings are immutable in Python?

Ans. Strings are immutable to ensure safety, efficiency, and hashability (so they can be used as dictionary keys). Any change creates a new string instead of altering the original.

Q.11 What advantages do dictionaries offer over lists for certain tasks?

Ans. Faster lookups using keys.

No need to search index by index.

Useful for mapping relationships (e.g., student → grade).

Q.12. Describe a scenario where using a tuple would be preferable over a list?

Ans. When storing fixed data that should not change, e.g., geographical coordinates (28.61, 77.23) for Delhi.

Q.13. How do sets handle duplicate values in Python?

Ans. Sets automatically eliminate duplicates, keeping only unique elements.

Q.14 How does the “in” keyword work differently for lists and dictionaries?

Ans. List: Checks if an element exists in the sequence.

Dictionary: Checks if the key exists (not the value).

Q.15 Can you modify the elements of a tuple? Explain why or why not?

Ans. No, because tuples are immutable. Once created, their elements cannot be changed, added, or removed.

Q.16 What is a nested dictionary, and give an example of its use case?

Ans. A dictionary inside another dictionary.
Example:students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
                                     }

   Use case: Representing structured data like records, JSON, or configurations.                                  

Q.17 Describe the time complexity of accessing elements in a dictionary?

Ans. Accessing elements in a dictionary has an average time complexity of O(1) because of hash table implementation.

Q.18 In what situations are lists preferred over dictionaries?

Ans. When order matters.

When you need sequential access (e.g., iterating items in order).

When keys are unnecessary.

Q.19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. Dictionaries are unordered because they rely on hash values of keys, not insertion order . Retrieval is based on keys, not position.

Q.20 Explain the difference between a list and a dictionary in terms of data retrieval?

Ans. List: Access by index (position).

     Dictionary: Access by key (identifier).

# **Practical Questions**

In [ ]:
# Q1 Write a code to create a string with your name and print it

name = "Shubham"
print(name)

Shubham

In [ ]:
#Q2 Write a code to find the length of the string "Hello World".

string = "Hello World"
print(len(string))

11

In [ ]:
# Q3 Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
print(string[:3])

Pyt

In [ ]:
#Q4 Write a code to convert the string "hello" to uppercase

string = "hello"
print(string.upper())

HELLO

In [ ]:
#Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [ ]:
#Q6 Write a code to create a list with numbers 1 to 5 and print it.

list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [ ]:
#Q10 Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it.


tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [ ]:
#Q12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[1:4])

('green', 'blue', 'yellow')

In [ ]:
#Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [ ]:
#Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [ ]:
#Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
print("kiwi" in fruits)

False

In [ ]:
#Q16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set3 = {'a', 'b', 'c'}
print(set3)

{'b', 'a', 'c'}

In [ ]:
#Q17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

se = {1, 2, 3, 4, 5}
se.clear()
print(se)

set()

In [ ]:
#Q18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_s = {1, 2, 3, 4}
my_s.remove(4)
print(my_s)

{1, 2, 3}

In [ ]:
#Q19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
#Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
#Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}

print(my_dict)

{'name': 'John Doe', 'age': 30, 'city': 'New York'}

In [ ]:
#Q22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Q23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [ ]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [ ]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_list , my_tuple , my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2, 'c': 3}

In [ ]:
#Q27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[58, 61, 76, 79, 83]

In [ ]:
#Q28. Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])

cherry

In [ ]:
#Q29 Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#Q30 Write a code to convert a list of strings into a set.
L = ["apple", "banana", "cherry", "date", "elderberry"]
mys= set(L)
print(mys)

{'elderberry', 'date', 'apple', 'banana', 'cherry'}